.content-header h1 {
    font-size: 1.8rem;
    margin: 0;
}
.text-dark {
    color:
    #343a40 !important;
}
.content-header {
    padding: 15px .5rem;
}
*, ::after, ::before {
    box-sizing: border-box;
}

.project-list-item:hover{
  background-color: #f7f7f7
}

/* .new-project-button{
	  margin-left: auto;
} */

.intro, .intro-box{
  margin: 0 auto;
  transform-origin: center;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  border-radius: 50%;
}

.intro{
    background-image: url("../images/LogoMLTRound.png");
}

/* The switch - the box around the slider */
.switch-theme {
 position: relative;
 display: inline-block;
 width: 60px;
 height: 34px;
}



/* Hide default HTML checkbox */
.switch-theme input {
 opacity: 0;
 width: 0;
 height: 0;
}

/* The slider */
.slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: #ccc;
 -webkit-transition: .4s;
 transition: .4s;
}

.slider:before {
 position: absolute;
 content: "";
 height: 26px;
 width: 26px;
 left: 4px;
 bottom: 4px;
 background-color: white;
 -webkit-transition: .4s;
 transition: .4s;
}

input:checked + .slider {
 background-color: #2196F3;
}

input:focus + .slider {
 box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
 -webkit-transform: translateX(26px);
 -ms-transform: translateX(26px);
 transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
 border-radius: 34px;
}

.slider.round:before {
 border-radius: 50%;
}

#we{
  transform-origin: center;
  text-align: center;
  font-size: 3.5rem;
  font-family: 'Oxanium';
  margin-bottom: 0rem;
  color: #525252;
}
.home-button{
  margin-left: auto;
  padding: .5rem 1rem;
}
.proj-description{
	padding: 1px 1.5rem;
}
#link-box{
  display:flex;
}
#link{
	/* padding-top: 1px; */
	/* max-width: 50%; */
	margin-left: auto;
	color: #9b59b6;
	margin-bottom: -0.5rem;
}
.plink-header{
	margin-bottom: -0.5rem;
	margin-left: auto;
}
.card {
   	box-shadow: 0 0 1px rgba(0,0,0,.125),0 1px 3pxrgba(0,0,0,.2);
	  margin-bottom: 1rem;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
		background-clip: border-box;
		/* border: 0 solid rgba(0,0,0,.125); */
    border-radius: .25rem;
}
.card-primary.card-outline {
    border-top: 3px solid #9b59b6;
}
.badge {
  font-size: .6rem;
  font-weight: 300;
  padding: 2px 4px;
  position: absolute;
}
.fa {
    text-align:center;
		background-color: #9b59b6
    position: relative;
}
.col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.float-sm-right {
    float: right !important;
}
.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color:
    #e9ecef;
    border-radius: .25rem;
}

#pageHead{
  color: dark;
}

.tab{
  background-color: white !important;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: none;
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, 0.3);
}

#main-container {
	width: 100vw;
	height: 100vh;
}

#navbar {
	background: #9b59b6;
}

.dropdown-toggle::after {
	display: none;
}

.project-list-item {
	background: white;
	cursor: pointer;
}

.project-list-item:active {
	background: hsl(0, 0%, 85%);
}

.project-list-item.active {
	background: hsl(0, 0%, 90%);
}

.project-list-item .project-details {
	width: 60%;
}

/* .project-list-item-unread .name,
.project-list-item-unread .status {
	font-weight: bold;
} */

.project-list-item .status,
#project-area #navbar #details {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#project-area {
	border-left: 1px solid #dbdbdb;
}

#project-area .overlay {
	background: #f8f9fa;
  background-image: url("../images/color.png");
  background-size:auto;
  /* background-image: linear-gradient(#60a3bc, #9b59b6); */
}

/* #input-area {
	background: hsl(0, 0%, 95%);
} */

/* #input-area #input {
	outline: none;
} */

.project-item {
	position:relative;
	max-width: 75%;
	word-break: break-word;
}
.project-item.self {
	background: #dcf8c6!important;
}
.project-item .number {
	color: #1f7aec !important;
}
.project-item .options {
	position: absolute;
	top: 0;
	right: -3px;
	opacity: 0;
	transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
}
.project-item:hover .options {
	opacity: 1;
	right: 0;
}

#projects {
	flex: 1!important;
	/* background: hsl(0, 0%, 80%); */
	overflow: auto;
}

#profile-settings {
	position: absolute;
	top: 0;
	left: -110%;
	background: hsl(0, 0%, 95%);
	transition: all 0.2s ease-in;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
}

#general-settings {
	position: absolute;
	top: 0;
	left: -110%;
	background: hsl(0, 0%, 95%);
	transition: all 0.2s ease-in;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
}

#profile-pic {
	cursor: pointer;
	position: relative;
	width: 200px;
}

.profile-input {
	border-bottom: 2px solid transparent  !important;
	outline: none;
}

.profile-input:focus {
	border-bottom-color: hsl(0, 0%, 50%) !important;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}
