<html lang="en">

<body>
  <div class="container-fluid" id="main-container">
    <div class="row h-100">
      <div class="col-12 col-sm-5 col-md-4 d-flex flex-column" id="project-list-area"
        style="position:relative; height: 100vh;">
        <!--Left side -->
        <!-- Projectbar -->
        <div class="row d-flex flex-row align-items-center p-2" id="navbar">
          <img alt="Profile Photo" class="img-fluid rounded-circle mr-2" style="height:50px; cursor:pointer;"
            (click)="toggle()" id="display-pic" src="./assets/images/Icon.png">
          <!-- Open profile when click on image -->
          <div class="text-white font-weight-bold" id="username"></div>
          <div class="mr-auto p-2"></div>
          <ul class="nav justify-content-end">
            <ul class="nav-item">
              <!--Home -->
              <a class="fas fa-home text-white" role="button" style="cursor:pointer" href="./"></a>
            </ul>
            <ul class="nav-item">
              <!--Add a new project -->
              <a class="fas fa-plus text-white" role="button" style="cursor:pointer" href="./create"></a>
            </ul>
            <ul class="nav-item">
              <!--Add a new project -->
              <a class="fas fa-sign-out-alt text-white" style="cursor:pointer" (click)="logout()"></a>
            </ul>

          </ul>

        </div>
        <!-- Profile Settings -->
        <div class="d-flex flex-column w-100 h-100" [ngClass]="statusClass">
          <!-- Settings Navbar -->
          <div class="row d-flex flex-row align-items-center p-2 m-0" style="background:#9b59b6; min-height:65px;">
            <!--purple-->
            <i class="fas fa-arrow-left p-2 mx-3 my-1 text-white" style="font-size: 1.5rem; cursor: pointer;"
              (click)="untoggle()"></i>
            <!--Arrow hides prof-->
            <div class="text-white font-weight-bold">Profile</div>
          </div>
          <!-- <ng-container *ngIf="show"></ng-container> -->
          <div class="d-flex flex-column" style="overflow:auto;">
            <!--Profile info container-->
            <img alt="Profile Photo" class="img-fluid rounded-circle my-5 justify-self-center mx-auto" id="profile-pic"
              src="./assets/images/Icon.png">
            <!--Big Profile pic -->
            <!-- THE FOLLOWING ARE INPUT TYPES BUT MAY BE CHANGED IN THE FUTURE -->
            <div class="tab px-3 py-2">
              <div class="text-muted mb-2"><label for="input-name">Your Name</label></div>
              <!--Full name, not username -->
              <div class="w-100 border-0 py-2 profile-input">{{userName}}</div>
              <!-- <input type="text" name="name" id="input-name" class="w-100 border-0 py-2 profile-input"> -->
            </div>
            <div class="tab px-3 py-2">
              <div class="text-muted mb-2"><label for="input-email">e-mail</label></div>
              <div class="w-100 border-0 py-2 profile-input">{{email}}</div>
              <!-- <input type="text" name="name" id="input-about" value="developer@email.com" class="w-100 border-0 py-2 profile-input"> -->
            </div>
          </div>
          <!-- </ng-container> -->
        </div>
        <!-- Project List -->
        <!-- Generated by javascript -->
        <div class="row" id="project-list"
          style="overflow:auto; cursor:pointer; height: 100vh; background-color: white;">
          <div class="project-list-item d-flex flex-row w-100 p-2 border-bottom" id="project-list-item"
            *ngFor="let proj of projects" (click)=onSelect(proj)>
            <img src="./assets/images/p.png" alt="Profile Photo" class="img-fluid rounded-circle mr-2"
              style="height:50px;">
            <div class="w-50">
              <div class="name" id="project-item-name">{{proj.title}}</div>
              <div class="small status" id="project-item-status">Project Type Here</div>
            </div>
            <!-- <div class="flex-grow-1 text-right">
							<div class="small time">${mDate(item.lastSeen).projectListFormat()}</div>
							<a class="nav-link" data-toggle="dropdown" href="#">
							<i class="far fa-bell"></i>
							${item.notifications ? "<div class=\"badge badge-info small\" id=\"unread-count\">" + item.notifications + "</div>" : ""}
							</a>
						</div> -->
          </div>
        </div>
      </div>
      <!-- Project Area -->
      <div class="d-none d-sm-flex flex-column col-12 col-sm-7 col-md-8 p-0 h-100" id="project-area">
        <!-- Overlay: displayed when no project-list-item is active -->
        <div class="w-100 h-100" [ngClass]="style">
          <canvas style="background: rgb(255, 255, 255)" id="canvas"></canvas>
          <div class="w-50 h-75 intro-box">
            <div class="w-100 h-100 intro"></div>
            <h1 cass="welcome" id="we">Welcome</h1>
            <div class="instruction-overlay" style="font-size: 16px; text-align:center; color:#888989">
              If you don't have any existing projects click the "+" button on the top-left corner.
            </div>
          </div>
        </div>
        <!-- Project Area Navbar -->
        <div class="row d-flex flex-row align-items-center p-2 m-0 w-100" id="navbar">
          <a href="#"><img src="./assets/images/LogoMLTRound.png" alt="Profile Photo"
              class="img-fluid rounded-circle mr-2" style="height:50px;" id="pic"></a>
          <!--Project Pic-->
        </div>
        <!-- Projects -->
        <div class="d-flex flex-column" id="projects" style="background-color: white;" *ngIf="selProj">
          <!-- Main content -->
          <!-- Project Header (Page header) -->
          <div class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6">
                  <!--MLT homepage FIX-->
                  <h1 class="m-0" id=pageHead>{{selProj.title}}</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="description">
            <p class="proj-description" id="proj-desc">{{selProj.description}}</p>
          </div>
          <div class="content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-6">
                  <div class="card">
                    <div class="card-body">
                      <h3 class="card-title">Worker Link</h3>

                      <p class="card-text">
						The following link is the route for Voluteers to use with their Workers in order
						to start training the machine learning model.
                      </p>

                      <a href="{{host}}/projects/{{selProj._id}}/workerfiles/" class="card-link" style="text-overflow: ellipsis;">{{host}}/projects/{{selProj._id}}/workerfiles/</a>
                    </div>
                  </div>

                  <!-- <div class="card card-primary card-outline">
									<div class="card-body">
										<h5 class="card-title">Card title</h5>

										<p class="card-text">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
											tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...
										</p>
										<a href="#" class="card-link">Card link</a>
										<a href="#" class="card-link">Another link</a>
									</div>
								</div> -->
                </div>
                <div class="col-lg-6">
                  <div class="card">
                    <div class="card-body">
                      <h3 class="card-title">Get Model</h3>

                      <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...
                      </p>

                      <a href="#" class="card-link">Card link</a>
                      <a href="#" class="card-link">Another link</a>
                    </div>
                  </div>
                  <!-- <div class="card card-primary card-outline">
									<div class="card-header">
										<h5 class="m-0">Featured</h5>
									</div>
									<div class="card-body">
										<h6 class="card-title">Special title treatment</h6>

										<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
										<a href="#" class="btn btn-primary">Go somewhere</a>
									</div>
								</div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <script type="text/javascript" src="/assets/js/home.js"></script> -->
</body>

</html>
