  <body>
      <div class="h-100 w-100">
         <!-- Will hold the Terms and project cards -->
         <div class="d-flex justify-content-center" style="height: 70%;">
            <!-- Flex everything to the middle -->
            <div id="nav-mobile" class="sidebar" style="display:none">
               <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
               <div class="cont-img"></div>
               <!-- Contains image -->
               <div class="cont-text">
                  <!--Contains project info -->
                  <h1 id="project-name">Project Name</h1>
                  <h4 id="author">Author: Developer</h4>
                  <h4 id="desc-title">Description: </h4>
                  <div class="container w-100" id="description">
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                        mollit anim id est laborum.
                     </p>
                  </div>
               </div>
            </div>
            <div id="proj-button-mob" style="display:none">
               <button class="openbtn" onclick="openNav()"><span class="fas fa-angle-right" aria-hidden="true"></span></button>
            </div>
            <script>
               function openNav() {
                 document.getElementById("nav-mobile").style.width = "250px";
               }
               function closeNav() {
                 document.getElementById("nav-mobile").style.width = "0";
               }
               </script>
            <div class="image-card-init">
               <!--Contains image and project info (white-bg)-->
               <div class="cont-img"></div>
               <!-- Contains image -->
               <div class="cont-text">
                  <!--Contains project info -->
                  <h1 id="project-name">Project Name {{project.title}}</h1>
                  <h4 id="author">Author: {{project.author}}</h4>
                  <h4 id="desc-title">Description: </h4>
                  <div class="container w-100" id="description">
                     <p>
                         {{project.description}}
                     </p>
                  </div>
               </div>
            </div>
            <div class="accept_card" id="demo">
               <!-- Agreement card -->
               <h1 id="terms-title"><strong>Project Testing</strong></h1>
               <canvas id="canvas" style="display: none;"></canvas>
               <!-- Terms and conditions (Start) -->
               <div class="terms-card container w-100">
                  <h3><strong>Welcome to MLTogether!</strong></h3>
                    <p>In this mode you, as an initiator, are able to view your project through a similar perspective of a volunteer.</p>
                    <p> In order to begin working, please click on the "Begin Working" button below. The results of the execution of your project will be displayed in the console below.</p>
               </div>
               <!-- Terms and conditions (End) -->
               <div class="buttons" style="margin-bottom:-35px">
                  <button type="button" name="button" class="btn accept_btn" style="background-color: rgb(196, 54, 54)" onclick="window.location.href='ide.html'">Open Editor</button>
                  <button type="button" onclick="myFunction()" name="button" class="btn accept_btn" style="background-color: rgb(54, 196, 60)">Begin Working</button>
                  <!-- <script>
                     function myFunction() {
                        document.getElementById("demo").style.display = "none";
                        document.getElementById("demo2").style.display = "flex";
                        var script = document.createElement("script");
                        script.type = "text/javascript";
                        script.src = "scripts/bundle.js"; 
                        document.getElementsByTagName("head")[0].appendChild(script);
                        return false;
                     }
                  </script> -->
               </div>
            </div>
            <!-- The following div is only shown when working -->
            <div class="accepted_card" style="background-color:white; display:none;" id="demo2">
               <img src="./assets/images/gears.gif" alt="gears" style="align-self: center;">
               <h2 id="working-title">Working!</h2>
            </div>
         </div>
         <!-- <div id="cons">
            <nav class="text-light d-flex align-items-center pl-2" id="console-nav"><span>Console</span>
                <div class="btn" id="clr-btn" action><span class="fas fa-trash" aria-hidden="true" (click)="clear()"></span></div>
            </nav>
            <pre id="console" class="border text-dark p-2">&raquo;  </pre>
        </div> -->
      </div>
   </body>