<div class="wrapper">
    <div id="edit">
        <nav class="text-light d-flex align-items-center pl-2" id="editor-nav">
            <div>
                <a href="./admin"><i class="fas fa-arrow-left" style="color: white; font-size: 20px; padding-left: 5px; padding-right: 15px;"></i></a><span style="font-size: 20px;">ML-Together Editor</span>
            </div>
            <div>
                <a href="https://www.notion.so/manuelbg/Goal-Creation-6892ecdc40fc43b8ba9eac555be39c42" style="color: white; font-size: 15px; padding-right: 15px;">Documentation</a>
                <div class="btn btn" id="exec-btn" action><span class="fas fa-play" aria-hidden="true" (click)="exec()"></span></div>
                <div class="btn btn" id="exec-btn" action><span class="fas fa-upload" aria-hidden="true" (click)="upload()"></span></div>
            </div>
        </nav>
                <div style="background-color: white; height: 3.33%; padding-left:5px;"><h4>Map</h4></div>
                <div ace-editor id="editor" style="height: 30%;"></div>
                <div style="background-color: white; height: 3.33%; padding-left:5px;"><h4>Reduce</h4></div>
                <div ace-editor id="editor-2"style="height: 30%;"></div>
                <div style="background-color: white; height: 3.33%; padding-left:5px;"><h4>Model</h4></div>
                <div ace-editor id="editor-3"style="height: 30%;"></div>
        <canvas id="canvas" style="display: none;"></canvas>
    </div>
    <!-- <div id="cons">
        <nav class="text-light d-flex align-items-center pl-2" id="console-nav"><span>Console</span>
            <div class="btn" id="clr-btn" action><span class="fas fa-trash" aria-hidden="true" (click)="clear()"></span></div>
        </nav>
        <pre id="console" class="border text-dark p-2">&raquo;  </pre>
    </div> -->
</div>